* {
    margin: 0;
    padding: 0;
}

.card {
    width: 17rem;
    margin: auto;
    margin-top: 10rem;
    border: 1rem solid white;
}

.card:hover {
    box-shadow: 0px 0px 10px rgba(33, 33, 33, .2);
}

.swiper-container,
.swiper-slide img,
.thumbnail-image {
    width: 17rem;
    height: 18rem;
}

.swiper-container {
    display: none;
}

.pagination {
    padding-top: 0.5rem;
    text-align: center;
    display: none;
}

.swiper-pagination-switch {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 1rem;
    background: white;
    box-shadow: 0 0.1rem .2rem #555 inset;
    margin: 0 0.15rem;
    cursor: pointer;
}

.swiper-active-switch {
    background: darkgreen;
}

.product_details {
    padding-top: 0.5rem;
}

.product_details .book-title {
    font-size: 1.2rem;
}
.product_details .author{
    font-size: 1rem;
}

.fa-star {
    color: orange;
}


.product_quality {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}

.price
 {
    padding-top: 0.3rem;
}

.price span {
    padding-right:0.3rem;
}

.price .new_price {
    font-size: 1.5rem;
    color: darkslategrey;
}

.price .discount {
    font-size: 1rem;
    color: green;
}
.price del {
    color: red;
}

#show_on_hover {
    display: none;
    padding-bottom: 1rem;
    justify-content: space-between;
    margin: auto;
    padding: auto;
}

.add-to-card {
    border: 0.05rem solid black;
    background-color: white;
    color: black;
    padding: 0.3rem 0.3rem;
    font-size: 1rem;
    cursor: pointer;
}

.add-to-card {
    border-color: black;
    color: black;
}

.add-to-card:hover {
    border-color: darkgreen;
    color: green;
}

.heart {
    padding: 0.3rem 0;
    font-size: 1.5rem;
    color: darkgray;
}

.heart:hover {
    color: deeppink;
    cursor: pointer;
}
